/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: ligth) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .inputForm {
    @apply shadow appearance-none border rounded w-full py-2 px-3;
    @apply text-gray-700 leading-tight focus:outline-none;
  }

  .blueButtonForm {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4;
    @apply rounded focus:outline-none;
  }

  .redButtonForm {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4;
    @apply rounded focus:outline-none;
  }

  .linkBlueForm {
    @apply inline-block align-baseline font-bold;
    @apply text-sm text-blue-500 hover:text-blue-800;
  }

  .light-red-border-button {
    @apply bg-white text-black;
    @apply border border-red-500 rounded p-1 hover:bg-red-500 hover:text-white;
  }

  .light-blue-border-button {
    @apply bg-white text-black;
    @apply border border-red-500 rounded p-1 hover:bg-red-500 hover:text-white;
  }

  .light-blue-border-button {
    @apply bg-white text-black;
    @apply border border-blue-500 rounded p-1 hover:bg-blue-500 hover:text-white;
  }

  .dark-red-border-button {
    @apply bg-[#172c3a] text-white;
    @apply border border-red-500 rounded p-1 hover:bg-red-500;
  }

  .dark-blue-border-button {
    @apply bg-[#172c3a] text-white;
    @apply border border-blue-500 rounded p-1 hover:bg-blue-500;
  }

  .inputError {
    @apply text-red-700 block;
  }
}
*/

html, body {
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.scrollHidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.example::-webkit-scrollbar {
  display: none;
}

.bb {
  border: 2px solid blue;
}

.br {
  border: 2px solid red;
}

.bg {
  border: 2px solid green;
}

.by {
  border: 2px solid yellow;
}

.borderSche {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

@media (min-width: 768px) {
  .md\:rotateH {
    transform: rotate(0deg) !important;
    /* background-color: aqua !important; */
  }
}

.rotateV{
  transform: rotate(90deg);
  /* background-color: blue; */
}